<ion-view title="New customer - {{editedCustomer.name}}">
    <ion-content has-header="true" padding="true">
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="newUser.username" autocapitalize="off" autocorrect="off" required/>
                </label>
                <label class="item item-input">
                    <input placeholder="Password" type="email" ng-model="newUser.email" required/>
                </label>
                <label class="item item-input">
                    <input placeholder="Password" type="password" ng-model="newUser.password" required/>
                </label>
                <label class="item item-input">
                    <input placeholder="Retype Password" type="password" ng-model="newUser.passwordCopy" required/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Full name" ng-model="newUser.fullname" autocapitalize="off" autocorrect="off" required/>
                </label>
                <label class="item item-input">
                    <input placeholder="Home \ Office address" type="text" ng-model="tempres" ng-autocomplete details="newUser.address" autocapitalize="off" autocorrect="off" />
                </label>
            </div>
            <button type="button" class="button button-block button-dark" ng-click="createNew(newUser)">Create new user</button>
        </form>
    </ion-content>
</ion-view>
