/* Empty. Add your own CSS if you like */
.pane, .view {
    background-color: #76A5DF;
}



.error{
    color: #F00;
    background: #F5F5F5;
    text-align: center;
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
    display:block!important;
}
.error.ng-hide {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
    display:none!important;
}

.reportItemBox {
    margin-top: 0;
    position:absolute;
    width: 100%;
    //top:0;
    //left:0;
    //right:0;
    //bottom:0;
}
.reportItemBox.ng-hide {
    -webkit-animation: zoomOutUp 1s;
    -moz-animation: zoomOutUp 1s;
    -ms-animation: zoomOutUp 1s;
    animation: zoomOutUp 1s;
}

.table-head {
    background: #A5F0A5;
    border: 1px solid;
    margin:0px;
}

.table-content {
    background: #C6E9CA;
    border: 1px solid;
    margin:0px;
}

.table-footer {
    padding: 0px;
}

.table-footer-cell {
    background: #050;
    color: #FFF;
    border: 2px solid #FFF;
    margin:0px;
}


