/* Empty. Add your own CSS if you like */
.pane, .view {
    background-color: #76A5DF;
}



.error{
    color: #F00;
    background: #F5F5F5;
    text-align: center;
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
    display:block!important;
}
.error.ng-hide {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
    display:none!important;
}


